@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans;
}

body {
  @apply min-h-screen w-full overflow-x-hidden bg-white text-neutral-900 dark:bg-neutral-900 dark:text-neutral-200;
}

.tooltip {
  @apply invisible absolute top-full right-1/2 mt-0.5 translate-x-1/2 rounded bg-black/70 py-1 px-2 text-xs text-white opacity-0 backdrop-blur-sm transition-opacity;
}

.has-tooltip {
  @apply md:relative;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50 opacity-100;
}

@keyframes bounce-right {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.summary-grid {
  grid-template-columns: 1fr;
}

@media screen and (min-width: 1024px) {
  .summary-grid {
    grid-template-columns: auto 400px;
  }
}
@media screen and (min-width: 1280px) {
  .summary-grid {
    grid-template-columns: auto 500px;
  }
}

.pricing-grid {
  grid-template-columns: 2fr 1fr 1fr;
  @apply gap-x-2;
}
@media screen and (min-width: 1024px) {
  .pricing-grid {
    /* grid-template-columns: 1fr 1fr 1fr; */
    @apply gap-x-24;
  }
}

.overlay::after {
  overflow-y: hidden;
  content: "";
  position: absolute;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
.overlay {
  overflow-y: hidden;
  content: "";

  height: 100vh;
  left: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
